body {
    background: black;
}

.container {
    color: white;
    background: blue;
    border: 2px solid white;
    position: absolute;
    margin: 20% 35%;
    transition: all 0.4s ease-in 0s;
}

.container:hover {
    background: red;
    color: black;
    transition: all 0.4s ease-in 0s;
}